project:
  type: website
  output-dir: docs

website:
  title: "zwetels.github.io/soysaucescholar"
  navbar:
    left:
      - href: index.qmd
        text: Home
      - about.qmd

format:
  html:
    theme:
      - cosmo
      - brand
    css: styles.css
    toc: true



